<div id="ForgotPasswordScreen">

    <div>
        <p>What do you want to do?</p>
        <label><input type="radio" ng-model="getPassBy" ng-click="changedPreference()" value="email">  Email my password</label>
        <label><input type="radio" ng-model="getPassBy" ng-click="changedPreference()" value="secq"> Reset Password</label>
    </div>

    <div ng-if="getPassBy == 'email'">
        <div ng-show="passwordSent != 'ok'">
            <input type="text" class="form-control" ng-model="$parent.emailUsername" placeholder="Username" />
            <button ng-click="sendPasswordToEmail()" class="btn btn-success form-control">Send my password</button>
            <div><span class="error">{{errorMsg}}</span></div>
        </div>

        <div ng-show="passwordSent == 'ok'">
            <div><span class="success">{{successMsg}}</span></div>
        </div>
    </div>

    <div ng-if="getPassBy == 'secq'">
        <div ng-show="!question && okToChange != 'ok' && passwordChanged != 'ok'">
            <input type="text" ng-model="$parent.seqUsername" class="form-control" placeholder="Username" />
            <button ng-click="getSecurityQuestion()" class="btn btn-success form-control">Get Security Question</button>
            <div><span class="error">{{errorMsg}}</span></div>
        </div>

        <div ng-show="question && okToChange != 'ok' && passwordChanged != 'ok'" ">
            <p>{{question}}</p>
            <input type="text" ng-model="$parent.answer" class="form-control" placeholder="Your answer" />
            <button class="form-control btn btn-success" ng-click="checkAnswer()">I want to reset my password</button>
            <div><span class="error">{{errorMsg}}</span></div>
        </div>

        <div ng-show="okToChange == 'ok' && passwordChanged != 'ok'">
            <input type="password" ng-model="$parent.oldPassword" class="form-control" placeholder="Old Password" />
            <input type="password" ng-model="$parent.newPassword" class="form-control" placeholder="New Password" />
            <input type="password" ng-model="$parent.confirm" class="form-control" placeholder="Confirm Password" />
            <button class="form-control btn btn-success" ng-click="resetPassword()">Reset password</button>
            <div><span class="error">{{errorMsg}}</span></div>
        </div>

        <div ng-show="passwordChanged == 'ok'">
            <div><span class="success">{{successMsg}}</span></div>
        </div>
    </div>
</div>