#google_input{
    margin-top:20px;
}

.image_link{
    max-width:30%;
    height: 83px;
}

.widget_container{
    margin-top:50px
}

.row_style{
    padding:20px;
}

a{
    margin:20px;
}


#experiment{
    background-color:white;  
}