body {
    background-image: url(../images/backgrounds/wall.jpg);
    background-repeat: no-repeat;
    font-family: Georgia;
}

#container {
    margin: 5%;
    background-color: whitesmoke;
    border-radius: 5px;
}

#navigation {
    padding: 5px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    text-align: center;
    border: solid;
    border-color: black;
}

.navButton {
    text-decoration: none;
    padding: 5px;
}


.content {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 1px;
    font-size: medium;
}

.heading {
    text-align: center;
}

.profilePic {
    float: left;
}

#my_pic {
    width: 230px;
    height: 290px;
    margin: 16px;
    border-radius: 10px;
    -webkit-transition: 0.3s;
}

    #my_pic:hover {
        -webkit-transform: scale(1.2);
    }

.content .text {
    padding: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

.links img {
    margin-left: 25px;
    margin-right: 25px;
    width: 150px;
    height: 100px;
}

.inline {
    display: inline;
}

footer {
    text-align: center;
}

@media screen and (min-width: 1235px) {

    .links {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 450px) and (max-width: 1235px) {

    .links {
        clear:both;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    .links {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
}
