body {
    background-color: white;
    margin-bottom:15px;
}

#default{

}


#lockscreen img {
    padding: 25px;
    width: 100%;
}

#loginscreen img {
    padding: 25px;
    width: 100%;
}

#homescreen img {
    width: 80%;
}

#widgets .image{
    width: 80%;
}

#widgets .setting{
    width:35%;
}

#admin img{
     width: 90%;
}