body {
    background-image: url("../../../images/backgrounds/lamborghini-desktop-440x900.jpg");
}

 /* *********************************************** LOCK SCREEN ****************************************************** */

#lock-screen #time,#lock-screen #date {
    font-family: Arial;
    color: white;
}

#lock-screen #time {
    font-size: 80px;
}

#lock-screen #date {
    font-size: 60px;
}

#lock-screen.left-bottom-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
}

 /* *********************************************** LOGIN SCREEN ****************************************************** */

#login-screen{
    width:55%;
}

.login-container{
    margin-top:100px;
}

.login-container .image{
    float:left
}

.login-details{
    float:left;
    margin-left:30px;
    padding-top: 40px;
}

.login{
    width:174px;
}

.newUser{
    padding-left:20px;
    color:white
}

#login-screen .left-bottom-corner{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
}

#login-screen .lock-screen{
    background-color:transparent;
}

.lock {
    font-size: 20px;
    color: black;
}

.white{
    color:white
}
.submit{
    background-color:blue;
}